-- Example 0
VQREQFGT
2

TOPCODER
-- Example 1
ABCDEFGHIJKLMNOPQRSTUVWXYZ
10

QRSTUVWXYZABCDEFGHIJKLMNOP
-- Example 2
TOPCODER
0

TOPCODER
-- Example 3
ZWBGLZ
25

AXCHMA
-- Example 4
DBNPCBQ
1

CAMOBAP
-- Example 5
LIPPSASVPH
4

HELLOWORLD
